{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "consistent-return": "off",
    "func-names": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "max-classes-per-file": "off",
    "no-param-reassign": "off"
  }
}
